
body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  text-align: center;
  padding: 10px;
  background: #532855;
  color: #fff
}

table {
  width: 100%;
}

tr {
  text-align: center;
}

td {
  border: 5px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  display: center;
  color: black;
  width: 25%;
  height: 40px;
}

.grey {
  background-color: lightgrey;

}

a.grey,
a.blue,
a.green,
a.orange {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}


.blue {
  background-color: DodgerBlue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: lightgreen;
}

div#turneu h2 {
  text-align: center;
  padding: 10px;
  background: #532855;
  color: #fff
}

div#turneu h3 {
  text-align: center;
  background: #283a55;
  color: #fff
}

.etapa {
  background: #283a55;
}

.match {
  box-shadow: rgba(0, 0, 0, 0.57) 0px 25px 20px -21px;
  border-radius: 10px;
  margin: 12px auto;
  background: #c8dfed;
}

.finala {
  box-shadow: rgba(0, 0, 0, 0.57) 0px 25px 20px -21px;
  border-radius: 10px;
  margin: 12px auto;
  background: #8ccdf5;
}

.match-info strong {
  color: #fff;
  position: absolute;
  right: 50%;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  min-height: 36px;
  line-height: 36px;
  top: 30px;
  width: 60px;
  margin-right: -30px
}

.match-info {
  position: relative;
  min-height: 100px;
  display: flex;
  line-height: 50px;
}

.right-team-info {
  float: right;
  padding-left: 30px;
  width: 50%;
  z-index: 2
}

.left-team-info {
  padding-right: 0px;
  width: 50%;
  z-index: 2
}

.team-name {
  text-align: center;
  color: transparent;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

/* li {
  list-style-type: none;
  height: 20%;
  line-height: 20px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-right: 30px;
} */

.Verde {
  color: rgb(10, 145, 28);
}

.Portocaliu {
  color: rgb(207, 105, 8);
}

.Albastru {
  color: DodgerBlue;
}

.Gri {
  color: rgb(102, 90, 90);
}

.scor {
  background-color: #283a55;
}



.delete-button {
  font-size: 14px;
  color: red;
  margin-left: 5px;
  cursor: pointer;
}


input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}


button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.finala ul li {
  color: red;
  display: block;
}

.selectare {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  width: 100px;
}

.selectare option {
  padding: 8px;
}

strong {
  background-color: #283a55 !important
}

ul {
  color: #000!important;
  font-size: 80% !important;
  margin-right: 5%;
  display: block;
}

il {
display: block;
  color: black;
  height: 20%;
  line-height: 20px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-right: 30px;
}

.finalsName {
  color: rgb(239, 227, 114)!important;
}
 


























