
<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
 <div class="container-fluid">
  <a id="titleA" class="navbar-brand" href="#">Actualizeaza jucator</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
     <a class="nav-link" routerLink="/dd">Adauga etapa</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" routerLink="/Editii">Editii</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" routerLink="/Players">Jucatori</a>
    </li>
   </ul>
  </div>
 </div>
</nav>


<div class="playerInfo">

 <div class="info">
  <label>Nume:</label>
  <input type="text" [(ngModel)]="lastName">
 </div>

 <div class="info">
  <label id="firstName">Prenume:</label>
  <input type="text" [(ngModel)]="firstName">
 </div>

 <div class="info">
  <label id="grade">Nota:</label>
  <input type="text" [(ngModel)]="grade">
 </div>

 <div id="center">
  <button type="button" (click)="updatePlayer()">Actualizeaza jucator</button>
 </div>

</div>