<script src="/assets/scripts/script.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    inteGrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script src="/assets/scripts/app2.js" type="module"></script>
<script src="/assets/scripts/postRequests.js" type="module"></script>


<form [formGroup]="form.footballForm" (ngSubmit)="form.onSubmit()">

    <div class="informatii-editie">
        <h1>Informatii editie</h1>
        <div class="row">
            <div class="col-auto">
                <label for="data_editie">Data editie</label>
                <input type="date" class="form-control" id="data_editie" name="data_editie" />
            </div>
            <div class="col-auto">
                <label for="numar_editie">Numarul editie</label>
                <input type="number" class="form-control" id="numar_editie" name="numar_editie" />
            </div>
            <div class="col-auto">
                <button type="button" id="introduEditie" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>
    </div>

    <br /><br />
    <br /><br />

    <h1>Prezenta</h1>
    <div class="autocomplete">
        <input id="input_selectPlayer" name="myCountry" placeholder="Player Name" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="selectedPlayer" list="playersList" />
        <datalist class="dropDown" id="playersList"> </datalist>
        <button type="button" id="button_selectPlayer" class="btn btn-primary" (click)="attendPlayer()">
            Introdu
        </button>
    </div>

    <br /><br />
    <br /><br />
    <br /><br />

    <button id="getDataButton" type="button" (click)="submitTeams()">Submit</button>
    <table id="teams" (click)="trashIconDelete($event)">
        <tr *ngFor="let player of selectedPlayers">
            <th>Portocaliu</th>
            <th>Verde</th>
            <th>Albastru</th>
            <th>Gri</th>
        </tr>
        <tr>
            <td class="orange"></td>
            <td class="green"></td>
            <td class="blue"></td>
            <td class="grey"></td>
        </tr>
        <tr>
            <td class="orange"></td>
            <td class="green"></td>
            <td class="blue"></td>
            <td class="grey"></td>
        </tr>
        <tr>
            <td class="orange"></td>
            <td class="green"></td>
            <td class="blue"></td>
            <td class="grey"></td>
        </tr>
        <tr>
            <td class="orange"></td>
            <td class="green"></td>
            <td class="blue"></td>
            <td class="grey"></td>
        </tr>
        <tr>
            <td class="orange"></td>
            <td class="green"></td>
            <td class="blue"></td>
            <td class="grey"></td>
        </tr>
        <tr>
            <td class="orange"></td>
            <td class="green"></td>
            <td class="blue"></td>
            <td class="grey"></td>
        </tr>
    </table>
    <br /><br />
    <br /><br />
    <br /><br />

    <!--
    <div id="turneu">
        <h2>Tur</h2>

        <div class="editie etapa" id="etapa1">
            <h3>Etapa 1</h3>

            <input type="text" id="searchInput1" class="inputs" placeholder="Introduceți o valoare" list="players" />
            <datalist class="dropDown" id="players">
                <option *ngFor="let player of players" [value]="player"></option>
            </datalist>
            <button id="introdu1" type="button" (click)="form.adaugaMarcator($event)">Introdu</button>
            <button id="introdu23" type="submit">SUBMIT</button>
            <ul id="recomandari1" class="recomandari"></ul>
            <br>
            <select id="selectare8" class="selectare">
                <option value="Verde">Verde</option>
                <option value="Albastru">Albastru</option>
                <option value="Portocaliu">Portocaliu</option>
                <option value="Gri">Gri</option>
            </select>
            <ul id="recomandari8" class="recomandari"></ul>

            <div formGroupName="game1">
                <div class="match" id="match1" appUpdateScore>
                    <div class="match-info">

                        <div class="left-team-info">
                            <div class="team-name">
                                <div class="Verde">Verde</div>
                            </div>
                            <div formArrayName="scorers1">
                                <ng-container *ngFor="let scorer of form.scorers1.controls; let i = index">
                                    <input type="text" [formControlName]="i" class="scorers" list="players" />
                                    <i class="fas fa-trash-alt delete-button"
                                        (click)="form.removeScorer(i,form.scorers1)"></i>
                                </ng-container>
                            </div>
                        </div>

                        <strong class="scor"></strong>

                        <div class="right-team-info">
                            <div class="team-name">
                                <div class="Portocaliu">
                                    Portocaliu
                                </div>
                            </div>
                            <div formArrayName="scorers2">
                                <ng-container *ngFor="let scorer of form.scorers2.controls; let i = index">
                                    <input type="text" [formControlName]="i" class="scorers" list="players" />
                                    <i class="fas fa-trash-alt delete-button"
                                        (click)="form.removeScorer(i,form.scorers2)"></i>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="match" id="match2" appUpdateScore>
                    <div class="match-info">
                        <div class="left-team-info">
                            <div class="team-name">
                                <div class="Albastru">
                                    Albastru
                                </div>
                            </div>
                            <div formArrayName="scorers3">
                                <ng-container *ngFor="let scorer of form.scorers3.controls; let i = index">
                                    <input type="text" [formControlName]="i" class="scorers" list="players" />
                                    <i class="fas fa-trash-alt delete-button"
                                        (click)="form.removeScorer(i,form.scorers3)"></i>
                                </ng-container>
                            </div>
                        </div>

                        <strong class="scor"></strong>

                        <div class="right-team-info">
                            <div class="team-name">
                                <div class="Gri">
                                    Gri
                                </div>
                            </div>
                            <div formArrayName="scorers4">
                                <ng-container *ngFor="let scorer of form.scorers4.controls; let i = index">
                                    <input type="text" [formControlName]="i" class="scorers" list="players" />
                                    <i class="fas fa-trash-alt delete-button"
                                        (click)="form.removeScorer(i,form.scorers4)"></i>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="etapa" id="etapa2">
            <h3>Etapa 2</h3>
            <input type="text" id="searchInput2" class="inputs" placeholder="Introduceți o valoare" list="players" />
            <datalist class="dropDown" id="players">
                <option *ngFor="let player of players" [value]="player"></option>
            </datalist>
            <button id="introdu2" appScorer>Introdu</button>
            <ul id="recomandari2" class="recomandari"></ul>
            <br />
            <select id="selectare9" class="selectare">
                <option value="Verde">Verde</option>
                <option value="Albastru">Albastru</option>
                <option value="Portocaliu">Portocaliu</option>
                <option value="Gri">Gri</option>
            </select>
            <ul id="recomandari9" class="recomandari"></ul>

            <div class="match" id="match3" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Portocaliu">Portocaliu</div>
                        </div>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Albastru">Albastru</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Albastru"></ul>
                    </div>
                </div>
            </div>

            <div class="match" id="match4" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Gri">Gri</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Gri"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Verde">Verde</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Verde"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="etapa" id="etapa3">
            <h3>Etapa 3</h3>
            <input type="text" id="searchInput3" class="inputs" placeholder="Introduceți o valoare" list="players" />
            <datalist class="dropDown" id="players">
                <option *ngFor="let player of players" [value]="player"></option>
            </datalist>
            <button id="introdu3" appScorer>Introdu</button>
            <ul id="recomandari3" class="recomandari"></ul>
            <br />
            <select id="selectare10" class="selectare">
                <option value="Verde">Verde</option>
                <option value="Albastru">Albastru</option>
                <option value="Portocaliu">Portocaliu</option>
                <option value="Gri">Gri</option>
            </select>
            <ul id="recomandari10" class="recomandari"></ul>

            <div class="match" id="match5" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Verde">Verde</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Verde"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Albastru">Albastru</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Albastru"></ul>
                    </div>
                </div>
            </div>

            <div class="match" id="match6" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Portocaliu">Portocaliu</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Portocaliu"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Gri">Gri</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Gri"></ul>
                    </div>
                </div>
            </div>
        </div>
        <h2>Retur</h2>
        <div class="etapa" id="etapa4">
            <h3>Etapa 4</h3>
            <input type="text" id="searchInput4" class="inputs" placeholder="Introduceți o valoare" list="players" />
            <datalist class="dropDown" id="players">
                <option *ngFor="let player of players" [value]="player"></option>
            </datalist>
            <button id="introdu4" appScorer>Introdu</button>
            <ul id="recomandari4" class="recomandari"></ul>
            <br />
            <select id="selectare11" class="selectare">
                <option value="Verde">Verde</option>
                <option value="Albastru">Albastru</option>
                <option value="Portocaliu">Portocaliu</option>
                <option value="Gri">Gri</option>
            </select>
            <ul id="recomandari11" class="recomandari"></ul>

            <div class="match" id="match7" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Albastru">Albastru</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Albastru"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Verde">Verde</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Verde"></ul>
                    </div>
                </div>
            </div>

            <div class="match" id="match8" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Gri">Gri</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Gri"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Portocaliu">Portocaliu</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Portocaliu"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="etapa" id="etapa5">
            <h3>Etapa 5</h3>
            <input type="text" id="searchInput5" placeholder="Introduceți o valoare" class="inputs" list="players" />
            <datalist class="dropDown" id="players">
                <option *ngFor="let player of players" [value]="player"></option>
            </datalist>
            <button id="introdu5" appScorer>Introdu</button>
            <ul id="recomandari5" class="recomandari"></ul>
            <br />
            <select id="selectare12" class="selectare">
                <option value="Verde">Verde</option>
                <option value="Albastru">Albastru</option>
                <option value="Portocaliu">Portocaliu</option>
                <option value="Gri">Gri</option>
            </select>
            <ul id="recomandari12" class="recomandari"></ul>

            <div class="match" id="match9" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Verde">Verde</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Verde"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Gri">Gri</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Gri"></ul>
                    </div>
                </div>
            </div>

            <div class="match" id="match10" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Albastru">Albastru</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Albastru"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Portocaliu">Portocaliu</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Portocaliu"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="etapa" id="etapa6">
            <h3>Etapa 6</h3>
            <input type="text" id="searchInput6" placeholder="Introduceți o valoare" class="inputs" list="players" />
            <datalist class="dropDown" id="players">
                <option *ngFor="let player of players" [value]="player"></option>
            </datalist>
            <button id="introdu6" appScorer>Introdu</button>
            <ul id="recomandari6" class="recomandari"></ul>
            <br />
            <select id="selectare13" class="selectare">
                <option value="Verde">Verde</option>
                <option value="Albastru">Albastru</option>
                <option value="Portocaliu">Portocaliu</option>
                <option value="Gri">Gri</option>
            </select>
            <ul id="recomandari13" class="recomandari"></ul>

            <div class="match" id="match11" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Verde">Verde</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Verde"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Portocaliu">Portocaliu</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Portocaliu"></ul>
                    </div>
                </div>
            </div>

            <div class="match" id="match12" appUpdateScore>
                <div class="match-info">
                    <div class="left-team-info">
                        <div class="team-name">
                            <div class="Gri">Gri</div>
                        </div>
                        <ul id="marcatori-stanga" class="list-Gri"></ul>
                    </div>

                    <strong class="scor">0 - 0</strong>

                    <div class="right-team-info">
                        <div class="team-name">
                            <div class="Albastru">Albastru</div>
                        </div>
                        <ul id="marcatori-dreapta" class="list-Albastru"></ul>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" />

    -->
    <app-games [players]="players" [selectedPlayers]="selectedPlayers"></app-games>
   
    <div class="finala" id="etapa7">
        <input type="text" id="searchInput7" placeholder="Introduceți o valoare" />
        <button id="introdu7" >Introdu</button>
        <ul id="recomandari7" class="recomandari"></ul>
        <br />
        <select id="selectare14" class="selectare">
            <option value="Verde">Verde</option>
            <option value="Albastru">Albastru</option>
            <option value="Portocaliu">Portocaliu</option>
            <option value="Gri">Gri</option>
        </select>
        <ul id="recomandari14" class="recomandari"></ul>

        <h3>Finala Mica</h3>
        <div class="finala" id="finala-mica">
            <div class="match-info">
                <div class="left-team-info">
                    <div class="team-name"></div>
                </div>

                <strong class="scor">0 - 0</strong>

                <div class="right-team-info">
                    <div class="team-name"></div>
                </div>
            </div>
        </div>
        <h3>Finala Mare</h3>
        <div class="finala" id="finala-mare">
            <div class="match-info">
                <div class="left-team-info">
                    <div class="team-name"></div>
                </div>

                <strong class="scor">0 - 0</strong>

                <div class="right-team-info">
                    <div class="team-name"></div>
                </div>
            </div>
        </div>
    </div>

</form>