<!-- <div class="ptable">
 <h1 class="headin">Clasament</h1>
 <table class="table table-striped">
  <tr class="bg info">
   <th>Locul</th>
   <th>Echipa</th>
   <th>V</th>
   <th>E</th>
   <th>I</th>
   <th>GD</th>
   <th>GP</th>
   <th>G+/-</th>
   <th>Punctaj</th>
  </tr>
  <tbody id="clasamentBody"></tbody>
  <tr *ngFor="let echipa of this.ranking.clasament; let i = index">
   <td>{{ i + 1 }}</td>
   <td>{{ echipa.culoare }}</td>
   <td>{{ echipa.victorii }}</td>
   <td>{{ echipa.egaluri }}</td>
   <td>{{ echipa.infrangeri }}</td>
   <td>{{ echipa.golaveraj }}</td>
   <td>{{ echipa.meciuri_jucate }}</td>
   <td>{{ echipa.goluri_date - echipa.goluri_primite }}</td>
   <td>{{ echipa.punctaj }}</td>
  </tr>
 </table>
</div>

<div class="ptable">
 <h1 class="headin">Golgheteri</h1>
 <table class="table table-striped">
  <tr class="bg info">
   <th>Locul</th>
   <th>Nume</th>
   <th>Goluri Finala</th>
   <th>Total</th>
  </tr>
  <tbody id="golgheteryBody"></tbody>
 </table>
</div>
<br />
<br />
<br />
<button type="submit" id="salveazaEditie" class="btn btn-primary">
 Salveaza Editie
</button> -->